<header>
    <nav class="nav">
        
            <ul class="centered nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/all_users">All Users</a></li>
            </ul>
       
        
    </nav>
</header>