<%- include('partials/_head.ejs') %>
</head>
<body>
    <%- include('partials/_nav.ejs') %>
    <main>
        <h3>An error occured</h3>
        <p>Something went wrong, we're tyring to fix it</p>
        <p>You can try reloading the page or login again</p>
    </main>

<%- include('partials/_footer.ejs') %>