* {
    box-sizing: border-box;
}

.centered {
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
}

.nav-list{
    list-style: none;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
hr{
    width: 50%;
    height: 2px;
    border: none;
    background-color: #333;
}